<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'})%>
<body class="homeBody">
		<!-- Header -->
    <%- include('partials/header')%>
		<!-- Fin Header -->
		<!-- Blob Fondo -->
		<div class="blob"></div>
			<!-- BTN FLOTANTE -->
		<div class="containerBotonFlotante">
			<input type="checkbox" id="btn-mas">
			<div class="redes">
				<a href="#" class="fa fa-fire"></a>
            	<a href="https://web.whatsapp.com/" target="_blank" class="fa fa-whatsapp"></a>
        	</div>
        	<div class="btn-mas">
            	<label for="btn-mas" class="fa fa-plus"></label>
            </div>
        </div>
		<!-- ............................. -->
		<div id="container">
			<div id="toggleContainer">
			   <label>Carousel</label>
			   <div id="toggle">
				 <div id="outer3">
					<div id="slider3"></div>
				 </div>
				 <label>Tiles</label>
			  </div>
			</div>
			<div id="galleryView">
			  <div id="galleryContainer">
				 <div id="leftView"></div>
				 <button id="navLeft" class="navBtns"><i class="fas fa-arrow-left fa-3x"></i></button>
				 <a id="linkTag">
					<div id="mainView"></div>
				 </a>
				 <div id="rightView"></div>
				 <button id="navRight" class="navBtns"><i class="fas fa-arrow-right fa-3x"></i></button>
			  </div>
			</div>
			<div id="tilesView">
			  <div id="tilesContainer"></div>
			</div>
		  </div>

		  <div class="separacionHome"></div>
		<!-- .-------------------------- -->
		<div class="wrapper lo">
			 <!--  -->
			 <header class="header-mobile">
				<h1 class="logo">SHOP</h1>
					<button class="open-menu" id="open-menu">
						<i class="bi - bi-list"></i>
					</button>
			</header>
			<!--  -->
			<aside>
				<header>
					<h1 class="logoHome">SHOP</h1>
				</header>
				
				<button class="close-menu" id="close-menu">
					<i class="bi bi-x"></i>
				</button>
				<!--  -->
				<nav>
					<ul class="menuProducts">
						<li>
							<button id="todos" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Todos los productos</button>
						</li>
						<li>
							<button id="movados" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> LLAVEROS </button>
						</li>
						<li>
							<button id="smartWatch" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> KIDS </button>
						</li>
						<li>
							<button id="xiaomi" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> COMBOS </button>
						</li>
						<li>
							<a class="boton-menu boton-carrito" href="/products/shoppingcart">
								<i class="bi bi-cart-fill"></i> Carrito <span id="numerito" class="numerito">0</span>
							</a>
						</li>
					</ul>
				</nav>
					<p class="texto-footer">© 2023 SHOP</p>
			</aside>
			<!-- .-------------------------- -->
			
			
			<!-- CARD PRODUCTS -->
			<%- include('partials/cardProducts') %>
		</div>
			<!-- Footer -->
		<%- include('partials/footer') %>
		<!-- Fin Footer -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
		<script src="/js/home.js"></script>
		<script src="/js/menuHome.js"></script>
		<script src="/js/carrouselHome.js"></script>
	</body>
</html>


	
</body>
</html>