<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
		<section class="banner">
			<img src="/img/cuidate.jpg.png" alt="banner">
		</section>
	
	</div> 
	<!-- productos -->
	<div><p>Productos destacados:</p></div>
	<section class="vip-products">
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/2manopla.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/2manopla.jpeg" alt="pdto 02"></a>	
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/2manopla.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 02"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
	</section>
	<!-- Fin productos -->
	<%- include('partials/footer.ejs') %>
</body>
</html>