<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'})%>
<body class="homeBody">
		<!-- Header -->
    <%- include('partials/header')%>
		<!-- Fin Header -->

		<!-- Slider -->
		<%- include("partials/slider")%> 
		<!-- Fin Slider -->



		<!-- Footer -->
	<%- include('partials/footer') %>
		<!-- Fin Footer -->
		<!-- JavaScript -->
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<script src="/js/product-slider.js"></script>
</body>
</html>