<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
	<title>Cuidate! Home</title>
<body class="homeBody">
    <%- include('./partials/header') %>

    <%- include('./partials/carrousel') %>

	<!-- productos -->
	<div><p>Productos destacados:</p></div>
	<section class="vip-products">
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/manoplagatito.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/manoplagatito.jpeg" alt="pdto 02"></a>	
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/manoplagatito.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
	
	</section>
	<div><p>Ofertas:</p></div>
	<section  class="vip-products">
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/gaspimienta.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/gaspimienta.jpeg" alt="pdto 02"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/gaspimienta.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir<img class="carritoAdd"src="/img/carrito.png"></a>
		</article>
	</section>
	<!-- Fin productos -->
	<%- include('./partials/footer') %>
</body>
</html>