<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidate! Iniciar sesión</title>
    <link rel="stylesheet" href="./css/login.css"> 
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
</head>
<body>
    <header class="container">
        
        <div class="primer-menu">

            <div class="menu-hamburguesa">
                <a href="#">
                    <img src="/img/menu.png" alt="">
                </a>
            </div>

            <div class="logo">
                <a href="/home">
                    <img src="/img/logo.png" alt="">
                </a>
                <span>Cuidate!</span>
            </div>

            <div class="buscador">
                <span>
                    Buscar...
                </span>

                <div class="lupa">
                    <a href="#">
                        <img src="/img/lupa.png" alt="">
                    </a>
                </div>
            </div>

            <div class="crear">
                <img src="/img/create.png" alt="">
                <a href="register">Crear usuario</a>
            </div>

            <div class="iniciar">
                <img src="/img/login.png" alt="">
                <a href="/login">Iniciar sesion</a>
            </div>

            <div class="carrito">
                <img src="/img/carrito.png" alt="">
                <a href="/carrito">Ver compra</a>
            </div>

        </div>

        <nav class="navegador">
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Ofertas</a></li>
                <li><a href="/home">Destacados</a></li>
                <li><a href="/home">contacto</a></li>
                <li><a href="/home">Quienes somos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="form-complete">
            <div class="form-container">
                <a href="/home"><h2>Cuidate!</h2></a>
                <hr>
                <form action="" method="">
                    <div class="form">
                        <div class="input-container">
                            <span class="top-message">E-mail</span>
                            <input class="input-style" type="email" required name="email" placeholder="Ingrese su e-mail">
                            <span class="error-message">E-mail incorrecto</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <input class="input-style" required type="password" name="pass" placeholder="Ingrese su contraseña">
                            <span class="error-message">Contraseña incorrecta</span>
                        </div>
                        <div class="checkbox-slider">
                            <input type="checkbox" id="my-slider"> 
                            <label for="my-slider">Recordar sesión</label>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn-submit">Acceder !</button>
                            <span class="error-message">Credenciales inválidas</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-two">
                <span><p>¿No tienes una cuenta?<a class="link" href="register"> Regístrate</a></p></span>
            </div>
        </div>
        <div class="img-login">
            <img src="/img/img-login.png" alt="">
        </div>
    </main>

    <footer class="principal">

        <div class="footer-logo">
            <img class="logo" src="/img/logo.png" alt="">
            <span>Copyright © 2023 Todos los derechos reservados ®</span>
        </div>
       
       <div class="links">
            <h3>Links Utiles</h3>
            <div class="sub-menu">
                <div class="links-utiles">
                    <ul class="sub-menu2">
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                    </ul>
                </div>
                
            </div>
       </div>

       <div class="footer-redes-data">
            <h3>Seguinos en nuestras redes</h3>
            <ul class="redes">
                <ul class="redes">
                    <ul class="redes">
                        <li class="instagram"><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt=""></a></li>
                        <li class="facebook"><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt=""></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/"><img src="/img/youtube.png" alt=""></a></li>
                    </ul>
            </ul>
            </ul>
            <div class="qr">
                <img src="/img/fiscal.png" alt="">
            </div>
       </div>
    </footer>
</body>
</html>