<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Error 404'}) %>
<body>
    <%- include('partials/header') %>
    <div class="bodyError">
        <div class="textError">
            <h4>Error 404 :(</h4>
            <hr>
            <p>La pagina que intentás solicitar no se encuentra en el servidor</p>
            <p>Intenta mejor en estos links:</p>
            <div class="errorLinks">
                <a href="/">
                    <p>Inicio</p>
                    <img src="/images/icons/home.jfif" alt="">
                </a>
                <a href="/users/login">
                    <p>Acceder</p>
                    <img src="/images/header/login.png" alt="">
                </a>
                <a href="/users/register">
                    <p>Registro</p>
                    <img src="/images/header/create.png" alt="">
                </a>
                <a href="/products/products">
                    <p> Productos</p>
                    <img src="/images/icons/products.png" alt="">
                </a>
                <a href="/#offers">
                    <p>Ofertas</p>
                    <img src="/images/icons/offers.png" alt="">
                </a>
                <a href="/shoppingcart">
                    <p>Mi carrito</p>
                    <img src="/images/header/shoppingcart.png" alt="">
                </a>
            </div>
        </div> 
    </div>
    <%- include('partials/footer') %>
</body>
</html>