<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Error 404'}) %>
<body class="error-body">
    <%- include('partials/header') %>

    <div class="error-container">
        <h1 class="numerror">404</h1>
        <p class="p-error">Pagina no encontrada!</p>
        <a class="backhome" href="/"><i class="icon-home"></i> Volver a la página inicial (recomendado)</a>
    </div>

</body>
</html>