<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>

<body>
      <!--ESPACIO -->
     <%- include ('partials/header.ejs')%>
      <!--Titulo -->


      <main class="card">
            <div class="detalles">

                  <div>
                        <div class="container-title">
                              <i class="fa-solid fa-arrow-left-long">VOLVER AL LISTADO >> Manoplas</i>
                        </div>

                        <div class="titulo">
                              <h3>MANOPLA GATITO</h3>
                              <small>Manopla para defensa personal</small>
                        </div>
                        <div class=imagenes>

                              <div class="imgBox">
                                    <img src="/img/manoplaNegra.png"
                                          alt="">
                              </div>
                        </div>
                  </div>

                  <div class="div-descripcion">
                        <div class="descripcion">
                              <h4>Descripción</h4>
                        </div>
                        <div>
                              <div class="descripcion">
                                    <p>Lorem ipsum dolor sit amet,
                                          repudiandae iste quas dicta quod.</p>
                              </div>
                        </div>

                        <div class="container-add-cart">
                              <div class="container-quantity">
                                    <input type="number" name="" id="" placeholder="1" value="1" min="1" class="input-quantity" />
                              </div>
                              <button class="btn-clean">Limpiar</button>

                              <div class="size">
                                    <h4>COLORES</h4>
                                    <ul>
                                          <div class="amarillo">
                                          </div>
                                          <div class="violeta">
                                          </div>
                                          <div class="rosa">
                                          </div>
                                          <div class="negro">
                                          </div>
                                    </ul>
                              </div>
                              <div class="buy">
                                    <div class="precio">
                                          <sup>$</sup><span>15500.<small>55</small></span>
                                    </div>
                                    <div class="btn">
                                          <a href="#">Agregar al carrito</a>
                                    </div>
                                    
                              </div>
                        </div>
                  </div>

            </div>
      </main>

      <%- include ('partials/footer.ejs')%>




</body>

</html>