<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head') %>
<title>Cuidate! Carrito</title>
<body>
    <%- include ('../partials/header') %>

    <div class="container1">
        <div class="carritoFavorito">
            <button>Carrito</button>
            <button>Favorito</button>
        </div>
        <div class="producto">
            <div class="imagen">
                <img src="/images/products/manoplagatito.jpeg" alt="">
            </div>
            <div class="descripcion">
                <span>Manopla</span>
                <div class="comprar-eliminar">
                    <button>Comprar Ahora</button>
                    <button>Eliminar</button>
                </div>
            </div>
            <div class="controladores-precio">
                <div class="masmenos">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <span>$X.XXX</span>
            </div>
        </div>

        <div class="producto">
            <div class="imagen">
                <img src="/images/products/gaspimienta.jpeg" alt="">
            </div>
            <div class="descripcion">
                <span>Gas Pimienta</span>
                <div class="comprar-eliminar">
                    <button>Comprar Ahora</button>
                    <button>Eliminar</button>
                </div>
            </div>
            <div class="controladores-precio">
                <div class="masmenos">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <span>$X.XXX</span>
            </div>
        </div>

    </div>
 <!--    <div class="comprar">
        <button>COMPRAR</button>
    </div> -->
    
    <%- include ('../partials/footer') %>

</body>
</html>