<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<title>Cuidate! Producto</title>

<body>
    <%- include ('../partials/header') %>
      <section class="contenido">
          <div class="mostrador" id="mostrador">
              <div class="fila">
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="/images/products/manoplaVerde.jpg" alt="">
                      </div>
                      <p class="descripcion">MANOPLA 1</p>
                      <span class="precio">$ 1.300</span>
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="/images/products/manoplaVioleta.jpg" alt="">
                      </div>
                      <p class="descripcion" id>MANOPLA 2</p>
                      <span class="precio">$ 1.800</span>
                  </div>
              </div>
              <div class="fila">
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="img/3.jpeg" alt="">
                      </div>
                      <p class="descripcion">MANOPLA 3</p>
                      <span class="precio">$ 130</span>
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="img/3jpeg" alt="">
                      </div>
                      <p class="descripcion">MANOPLA 4</p>
                      <span class="precio">$ 2.000</span>
                  </div>            
              </div> 
          </div>
          <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
          <div class="seleccion" id="seleccion" style="width: 100%;">
              <div class="cerrar" onclick="cerrar()">
                  &#x2715
              </div>
              <div class="info">
                  <img src="img/1.png" alt="" id="img">
                  <h2 id="modelo">MANOPLA4</h2>
                  <p id="descripcion">Descripción Modelo 1</p>
  
                  <span class="precio" id="precio">$ 130</span>
  
                  <div class="fila">
                      <div class="size">
                          <label for="">Cantidad Por Mayor</label>
                          <select name="" id="">
                              <option value="">5</option>
                              <option value="">10</option>
                              <option value="">15</option>
                              <option value="">20</option>
                          </select>
                      </div>
                      <button>AGREGAR AL CARRITO</button>
                  </div>
              </div>
          </div>
      </section>
  
      <script src="/js/script.js"></script>
  </body>

</html>