<section class="intro">
    <div class="slider">
      <ul>
        <li style="background-image:url(images/banners/4.png)">
          <div class="center-y">
            <h3>Slider #3</h3>
            <a href="#">V</a>	
          </div>
        </li>
        <li style="background-image:url(images/banners/4.png)">
          <div class="center-y">
            <h3>Slider #3</h3>
            <a href="#">V</a>	
          </div>
        </li>
        <li style="background-image:url(images/banners/4.png)">
          <div class="center-y">
            <h3>Slider #3</h3>
            <a href="#">V</a>	
          </div>
        </li>
      </ul>

      <ul>
        <nav>
          <a href="#"> </a>
          <a href="#"></a>
          <a href="#"></a>
        </nav>
      </ul>
    </div>
  </section>