<!--Carousel-->
<div class="carrousel">
    <div class="conteCarrousel">
        <div class="itemCarrousel" id="itemCarrousel-1">
            <div class="itemCarrouselTarjeta">
                <img src="/img/banner4.jpg" alt="item-1-Carrousel">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-2">
            <div class="itemCarrouselTarjeta">
                <img src="/img/banner3.webp" alt="item-2-Carrousel">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-3">
            <div class="itemCarrouselTarjeta">
                <img src="/img/cuidate.jpg.png" alt="item-3-Carrousel">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
<!--     <div class="conteCarrouselController">
        <a href="#itemCarrousel-1">•</a>
        <a href="#itemCarrousel-2">•</a>
        <a href="#itemCarrousel-3">•</a>
    </div> -->
</div>