
<section class="intro">
    <!-- <div class="left">
      <div>
        <span>Explore</span>
        <h1>The Places Where You Will</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet amet excepturi voluptates dolorem totam ad quod hic, porro accusamus, repellat, corrupti at obcaecati ducimus, dolor quibusdam sequi nemo inventore?</p>
        <a href="https://unsplash.com/" target="_blank">Images by Unsplash</a>
      </div>
    </div> -->

    <div class="slider">
      <ul>
        <li style="background-image:url(/images/banners/1.png)">
          <div class="center-y">
            <h3>Slider Title #1</h3>
            <a href="#">View Project</a>	
          </div>
        </li>
        <li style="background-image:url(/images/banners/2.png)">
          <div class="center-y">
            <h3>Slider Title #2</h3>
            <a href="#">View Project</a>	
          </div>
        </li>
        <li style="background-image:url(images/banners/4.png)">
          <div class="center-y">
            <h3>Slider Title #3</h3>
            <a href="#">View Project</a>	
          </div>
        </li>
      </ul>

      <ul>
        <nav>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </nav>
      </ul>
    </div>
  </section>