<footer class="principal">

    <div class="footer-logo">
        <img class="logo" src="/img/logo.png" alt="">
        <span>Copyright © 2023 Todos los derechos reservados ®</span>
    </div>
   
   <div class="links">
        <h3>Links Utiles</h3>
        <div class="sub-menu">
            <div class="links-utiles">
                <ul class="sub-menu2">
                    <li><a href="/home">LINKS</a></li>
                    <li><a href="/home">LINKS</a></li>
                    <li><a href="/home">LINKS</a></li>
                    <li><a href="/home">LINKS</a></li>
                </ul>
            </div>
            
        </div>
   </div>

   <div class="footer-redes-data">
        <h3>Seguinos en nuestras redes</h3>
        <ul class="redes">
            <li class="instagram"><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt=""></a></li>
            <li class="facebook"><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt=""></a></li>
            <li class="youtube"><a href="https://www.youtube.com/"><img src="/img/youtube.png" alt=""></a></li>
        </ul>
        <div class="qr">
            <img src="/img/fiscal.png" alt="">
        </div>
   </div>
</footer>