<footer class="principal">

    <div class="footer-logo">
        <a href="/"><img class="footer-logo" src="/images/logo/logo.png" alt=""></a>
        <span>Copyright © 2023 Todos los derechos reservados ®</span>
    </div>
   
   <div class="links" id="links">
        <h3>Links</h3>
        <div class="sub-menu">
            <div class="links-utiles">
                <ul class="sub-menu2">
                    <li><a href="https://github.com/LisandroP57/c19-Grupo-3-Cuidate">Sobre nosotros</a></li>
                    <li><a href="help">Necesito ayuda</a></li>
                    <li><a href="https://trello.com/b/tPagskz9/c19-grupo-3">Trello</a></li>
                    <li><a href="https://www.figma.com/file/0eEYFx6wiNy7cgTS7EuzXc/FormarGrupo-3?node-id=0%3A1&t=aoZn7EGv3Ay4ENuf-0">Figma</a></li>
                </ul>
            </div>
            
        </div>
   </div>

   <div class="footer-redes-data">
        <h3>Seguinos en nuestras redes</h3>
        <ul class="footer-redes" id="footer-redes">
            <li class="instagram"><a href="https://www.instagram.com/"><img src="/images/footer/instagram.png" alt=""></a></li>
            <li class="facebook"><a href="https://www.facebook.com/"><img src="/images/footer/facebook.png" alt=""></a></li>
            <li class="youtube"><a href="https://www.youtube.com/"><img src="/images/footer/youtube.png" alt=""></a></li>
        </ul>
        <div class="qr">
            <img src="/images/footer/fiscal.png" alt="">
        </div>
   </div>
</footer>