<header class="containerHeader">
        
    <div class="primer-menu">

        <div class="menu-hamburguesa">
            <a href="#">
                <img src="/images/header/menu.png" alt="">
            </a>
        </div>

        <div class="logo">
            <a href="/home">
                <img src="/images/logo/logo.png" alt="">
                <span>Cuidate!</span>
            </a>
        </div>

        <div class="buscador">
            <form action="/search" method="GET" class="search-form"></form>
                <input class="input-header" type="text" name="keywords" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="crear">
            <a href="/users/register">
                <img src="/images/header/create.png" alt="">
                <a href="/users/register">Registrarse</a>
            </a>
        </div>

        <div class="iniciar">
            <a href="/users/login">
                <img src="/images/header/login.png" alt="">
                <a href="/users/login">Iniciar sesion</a>
            </a>
        </div>

        <div class="carrito">
            <a href="/products/carrito">
                <img src="/images/header/carrito.png" alt="">
                <a href="/products/carrito">Ver compra</a>
            </a>
        </div>

    </div>

    <nav class="navegador">
        <ul class="menu">
            <li><a href="/products/products">Productos</a></li>
            <li><a href="/#offers">Ofertas</a></li>
            <li><a href="/#redes">Contactanos</a></li>
            <li><a href="/products/create">Crear $</a></li>
            <li><a href="/probandoLaCajaNegraAaa" class="edit-button edit">a Definir</a></li> 
        </ul>
    </nav>
</header>