<div class="separacionHome"></div>
		<!-- .-------------------------- -->
		<div class="wrapper lo">
			 <!--  -->
			 <header class="header-mobile">
				<h1 class="logoHome">SHOP</h1>
					<button class="open-menu" id="open-menu">
						<i class="bi - bi-list"></i>
					</button>
			</header>
			<!--  -->
			<aside>
				<header>
					<h1 class="logoHome">SHOP</h1>
				</header>
				
				<button class="close-menu" id="close-menu">
					<i class="bi bi-x"></i>
				</button>
				<!--  -->
				<nav>
					<ul class="menuProducts">
						<li>
							<button id="" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Todos los productos</button>
						</li>
						<li>
							<a href="/products/category/1">
								<button id="" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> DEFENSA PERSONAL </button>
							</a>
						</li>
						<li>
							<a href="/products/category/3">
								<button id="" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> KIDS </button>
							</a>
						</li>
						<li>
							<a href="/products/category/2">
								<button id="" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> COMBOS </button>
							</a>
						</li>
						<li>
							<a class="boton-menu boton-carrito" href="/products/shoppingcart">
								<i class="bi bi-cart-fill"></i> Carrito<!--  <span id="numerito" class="numerito">0</span> -->
							</a>
						</li>
					</ul>
				</nav>
					<p class="texto-footer">© 2023 SHOP</p>
			</aside>