
@import url('headerFooter.css');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

/* Mobile version */
@media (min-width: 320px) {
    .container1 {
        background-image: url(/img/backg.jpg);
        background-size: cover;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .producto {
        border: 1px solid black;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }
    .imagen {
        margin: 5px;
        border-radius: 10px;
        width: 70px;
        height: 70px;
    }
    .imagen img {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        border: 1px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    .comprar {
        text-align: center;
        margin: 15px;
    }
    .producto {
        border: 1px solid black;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        font-family: 'Kaushan Script', cursive;
    }

}

/* Tablet */
@media (min-width: 768px) {
    .container1 {
        background-image: url(/img/backg.jpg);
        background-size: cover;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }


}

/* Desktop */
@media (min-width: 1180px) {
    .container1 {
        background-image: url(/img/backg.jpg);
        background-size: cover;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    
    .producto {
        border: 1px solid black;
        border-radius: 10px;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        font-family: 'Kaushan Script', cursive;
    }
  
    .imagen {
        width: 200px;
        height: 200px;
        margin: 5px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        max-height: 100px;
    }
    
    .imagen img {
        
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    .controladores-precio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }

    .controladores-precio .masmenos button{
        width: 25px;
        height: 25px;
    }

    .descripcion {
        font-size: 2rem
    }

    .comprar-eliminar button {
        width: 150px;
    }

    .comprar {
        text-align: right;
        margin: 15px;
    }

    .comprar button {
        width: 130px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
    }

    .carritoFavorito {
        display: flex;
        gap: 5px;
        margin-left: 10%;
    }

    .carritoFavorito button {
        width: 100px;
    }
}