body, html {
    margin: 0;
    padding: 0;
  }
  #slider {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .slides {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .slide {
    position: absolute;
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
  }
  .slide1 {background: red;}
  .slide2 {background: blue;}
  .slide3 {background: green;}
  .slide4 {background: purple;}
  .slide5 {background: pink;}