main.addProduct {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.createForm {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    border: 1px solid rgb(80, 67, 67);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    margin: 3rem;
    width: 100%;
    max-width: 500px;
}

.createForm .title {
    color: #ffffff;
}
  
.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
  
.form {
    margin-top: 1.5rem;
}
  
.addInput {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.addInput label {
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
}

.multer label {
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
}
  
.addInput input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}
  
.addInput input:focus {
    border-color: rgba(167, 139, 250);
}

.createForm .description {
    height: 3rem;
}

.multer {
    position: relative;
    right: 7px;
    margin: 1rem 0rem;
}

.multer label {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 4px;
}

.multer input {
    margin: 3px;
    width: 83%;
    padding-left: 0.3rem;
}

div.sendButton {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.editbtn {
 display: inline-block;
 width: 150px;
 height: 50px;
 border-radius: 10px;
 border: 1px solid #03045e;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
 color: #03045e;
 transition: all 0.3s ease-in;
}
.editbtn::before,
.editbtn::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}
.editbtn::before {
 left: -10px;
 background: #240046;
}
.editbtn::after {
 right: -10px;
 background: #5a189a;
}
.editbtn:hover::before,
.editbtn:hover::after {
 width: 58%;
}
.editbtn:hover {
 color: #ffffff;
 transition: 0.3s;
}