@import url('style.css');

main.addProduct {
    display: flex;
    justify-content: center;
    background-size:60%;
    background-position: -10rem 3rem; 
    background-repeat:repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.createForm {
    padding: 0rem 1rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid rgb(80, 67, 67);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    margin: 3rem;
    width: 100%;
    max-width: 500px;
}

.createForm .row .col-12 h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.createForm div {
    padding: 0.5rem 0rem;
}

.col-12 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.col-12 .products-title {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.addInput {
    display: flex;
    align-items: start;
}

.addInput input {
    display: flex;
    align-items: start;
}

.addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.addInput {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

.addInput input {
    height: 34px;
    margin: 3px;
    width: 100%;
    padding-left: 0.3rem;
}

.description1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.description1 label {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -0.6rem;
}

.description1 textarea {
    width: 250px;
    height: 50px;
    max-width: 395px;
    max-height: 90px;
    padding-left: 0.4rem;
}

.form-input {
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
}

.multer {
    position: relative;
    right: 7px;
}

.multer label {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 4px;
}

.multer input {
    margin: 3px;
    width: 83%;
    padding-left: 0.3rem;
}

.buy-now-button{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 1.8rem;
    width: 100%;
    border: solid 1px var(--gris);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background:  linear-gradient(45deg, --violeta-chillon 0%,  --violeta-oscuro 50%);
    color: rgb(255, 255, 255);
    background-color: var(--violeta-oscuro);
    transition: all 2s ease;
}

div.sendButton {
    margin: 1rem;
}

.buy-now-button:hover {
    color: black;
    box-shadow: 5px 5px 10px rgba(45, 34, 61, 0.7);
    background-color: white;
    transition: all 1s ease;
}