:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
    --violeta-intermedio: #9977A6;
    --violeta-oscuro: #724A81;
      --violeta-claro: #C8ABD0;
      --violeta-chillon: #8C52FF;
      --gris: #504949;
      --fuente-principal: 'Roboto', sans-serif;
}
.bodyDetail{
  /* background: linear-gradient(111deg, rgb(153, 129, 179) 0%, rgb(92, 0, 191) 52%, rgb(69, 1, 142) 100%); */
  background-image: url(/images/backgrounds/fondoMujeres.png);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 10vh;
  margin: 0;
  font-size: 10px;

}

.pre-cart {
  display: flex;
  justify-content: center;
}
.titleDetail {
  margin-top: 1rem;
  text-align: center;
  font-weight: 95%;
  font-size: 3rem;
  background: transparent;
  border: 2px  solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  color: whitesmoke;
}
.card-wrapper{
  max-width: 1100px;
  background: transparent;
  border: 2px  solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
/*   max-width: 1100px;
  margin: 0 auto;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px  solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px); */

/*   border: 21px solid rgba(0,0,0,.125);
background: transparent;
    border: 2px  solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
*/
}
.card{
  background: transparent;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  padding: 0px 90px;
}
.bodyDetail img{
  width: 100%;
  display: block;
}
.product-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.img-display{
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  transition: 1s;
}
.img-display:hover{
  transform: scale(1.1);
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  /* padding: 2rem 5rem; */
  border-radius: 100%, 20px;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #e7e7e7;
  margin: 8rem 0;
  padding: 90px;
  align-items: flex-start;  
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #dedbd4;
  padding: 50px;
}
div .col-12 {
  padding-top: 11rem;
  background-color: rgba(255, 255, 255, 0.571);
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 70%;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url() left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 2.5px solid #724A81;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:last-of-type{
  background: #9977A6;
}
.purchase-info .btn:hover{
  opacity: 0.9;
  background: #82ca9c;
  border: 2.5px solid #2d991f;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
.buy-now-button-detail {
  background-color: var(--violeta-oscuro);
  font-size: 1.6em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}
.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}
.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
/* card de detailProducts */
/* ------------------------------------ */
/* .banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.logo {
  width: 500px;
  cursor: pointer;
}
/* .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
} */
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.login-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.signup-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cover {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
/* PRODUCTS */
.product {
  overflow: hidden;
  padding-top: 129px;
  background-color: transparent;
  animation: animateBg 5s linear infinite;
}
@keyframes animateBg {
  100% {
      filter:hue-rotate(360deg)
  }
}
.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-brand {
  text-transform: uppercase;
}
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.price {
  font-weight: 900;
  font-size: 20px;
}
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btn {
  right: 0;
}
.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
.blob {
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(180deg, rgba(200, 171, 208,.42)37.77%, #8C52FF 100%);
  border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  transform: translate(-100px, -50px) rotate(-90deg);
  transition:1s cubic-bezier(.07, .8, .16, 1);
  animation: animateBlob 2s infinite alternate;
}
.blob:hover {
  width: 50%;
  height: 50%;
  filter: blur(30px);
  box-shadow:
      inset 0 0 0 5px rgba(255, 255, 255, .6),
      inset 100px 100px 0 0 #784ba8 ,
      inset 100px 100px 0 0 #8C52FF ,
      inset 100px 100px 0 0 #4f00ee ;
}
@keyframes animateBlob {
  100% {
    transform: translate(30px, 500px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
/* ------------------------------------ */
/*====== Footer ======*/
.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}
.footer-data {
  text-align: center;
}
.footer-data i {
  color: var(--light-blue);
  font-size: 3.5em;
}
.footer-data h2 {
  color: var(--gray);
  font-size: 2.4em;
  font-weight: 400;
}
.footer-data p {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 300;
}
.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}
.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}
@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
      border-radius: 30px,30px;
  }
  .card-wrapper{
      height: 265vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 10pc;
  }
}
      /* PRODUCT SLIDER DE DETAIL */
      .productSlider {
        font-family: var(--font_poppins);
    }
    .productSlide {
        width: 250px;
        margin: 10px auto;
        background-color: #9137b4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
        border-radius: 10px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        transition: all 1s ease;
        z-index: 1;
    }
    .productSlide:hover {
        transform: scale(1.03);
    }
    .productSlide .productDiscount {
        position:absolute;
        top: 0;
        right: 0px;
        padding: 5px;
        background-color: var(--dark-blue);
        color: white;
        border-radius: 0px 10px 0px 10px;
        font-size: 15px;
    }
    .productSlide img {
        width: 100%;
        border-bottom: 1px solid var(--primary);
    }
    .productSlide .productName {
        font-size: 16px;
        margin: 10px auto;
    }
    .productSlide .productPrice {
        font-size: 24px;
        margin: 10px auto;
    }
    .product-container {
      padding: 0 -3vw;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      height: 100%;
      padding: 90px;
  }
    .flickity-page-dots { display: none;}
    
    @media screen and (min-width: 768px) {
      .products-title {
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
    }
      .card-wrapper{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .productSlide {
            width: 33%;
            height: fit-content;
            padding: 20px;
        }
    }
    @media screen and (min-width: 1024px) {
      .products-title {
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
    }
    .card-wrapper {
      max-width: 1000px;
      height: 114vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      margin-top: 2rem;
  }
        .productSlide {
            width: 20%;
            min-height: fit-content;
        }
        .product-imgs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 20px;
      }
    }