

.main-forget-pass {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.section-forget-pass {
    flex-direction: column;
    max-width: 20%;
    margin: 5rem;
}

section div.forget-content {
    align-items: center;
    text-align: center;
    background-color: rgb(140, 108, 177);
    padding: 1rem;
}

.forget-content h2 {
    margin: 4rem 0.5rem;
}

.forget-content p {
    margin: 4rem 0.5rem;
}

form.form-forget-pass span {
    display: flex;
    text-align: start;
}

input.email-reset {
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px 3px;
    margin: 0.2rem 0rem 3rem;
}

.forget-button {
    height: 10%;
    padding: 6px;
    background-color: rgb(40, 155, 40);
    border: 1px solid rgb(43, 22, 22);
    border-radius: 15px;
    margin: 1rem;
    transition: 1s;
}

.forget-button:hover {
    transform: scale(1.2);
    
}