

.main-forget-pass {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/images/backgrounds/123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section.section-forget-pass {
    flex-direction: column;
    max-width: 75%;
    margin: 5rem;
}

section div.forget-content {
    align-items: center;
    text-align: center;
    background-color: rgba(140, 108, 177, 0.516);
    backdrop-filter:initial;
    padding: 1rem;
}

.forget-content h2 {
    margin: 4rem 0.5rem;
}

.forget-content p {
    margin: 4rem 0.5rem;
}

form.form-forget-pass span {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.9rem;
}

input.email-reset {
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px 3px;
    margin: 0.2rem 0rem 3rem;
}

.forget-button {
    height: 10%;
    padding: 6px;
    background-color: rgb(40, 155, 40);
    border: 1px solid rgb(43, 22, 22);
    border-radius: 15px;
    margin: 1rem;
    transition: 1s;
}

.forget-button:hover {
    transform: scale(1.2);
    
}

@media (min-width: 320px) {
    section.section-forget-pass {
        margin: 3rem;
    }
}

@media (min-width: 768px) {
    section.section-forget-pass {
        max-width: 40%;
    }
}

@media (min-width: 1180px) {
    section.section-forget-pass {
        max-width: 25%;
    }
}