footer.principal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #724A81;
}

footer ol, ul {
    padding-left: 0rem;
}

footer.principal div.footer-redes-data h3 {
    background-color: black;
    border-radius: 10px 0 10px 0;
    color: #fff;
    width: 120%;
    font-size: 12px;
    text-align: center;
}

footer.principal div.links h3 {
    background-color: black;
    border-radius: 10px 0 10px 0;
    color: #fff;
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
}

.containerHeader {
    border: 1px solid rgb(166, 166, 166);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.containerHeader {
    display: flex;
    flex-direction: column;
    background-color: #C8ABD0;
    padding: 5px;
    margin-bottom: 0.5rem;
}

header.containerHeader div.primer-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header.containerHeader div.primer-menu div.menu-hamburguesa {
    margin-right: 0.5rem;
}

header.containerHeader div.primer-menu div.menu-hamburguesa img {
    width: 30px;
    height: 30px;
}

header.containerHeader div.primer-menu div.crear img {
    width: 45px;
    height: 45px;
    transition: 1s;
}

header.containerHeader div.primer-menu div.crear img:hover {
    transform: rotateY(360deg);
    cursor: pointer;
}


header.containerHeader div.primer-menu div.lupa img {
    width: 50px;
    height: 50px;
}

        /* Avatar y session */
header.containerHeader div.primer-menu div.iniciar .user .img-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user .online {
    color: rgb(51, 184, 51);
}

.menu-user {
    display: none;
    position: absolute;
    margin-top: 3rem;
    width: 200px;   
}

.menu-user li {
    display: flex;
    
    align-items: center;
}

.menu-user li i {
    display: flex;
    align-items:center;
    margin-right: 1rem;
}

.user:hover .menu-user{
   display: block;
}

.menu-user-button {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(#BA6D91,.8);
    display: block;
    background-color: #9977A6;
    padding: .6em;
    box-shadow: 1px 0px 1px 0px #1a1a1a, inset 1px 1px 2px 1px rgba(#FFC3A7, .6);
}
.menu-user .menu-user-button {
    border-radius: 0;
    border-bottom: 1px solid #724A81;
}
.unread {
    background-color: #C8ABD0;
    float: right;
    width: 1.5em;
    text-align: center;
    padding: .1em .3em;
    border-radius: 6px;
    font-size: .7em;
    font-weight: 700;
    box-shadow: inset 1px 1px 1px 0px rgba(199, 109, 88, 0.8);
}

        /* Fin avatar y session */

header.containerHeader div.primer-menu div.iniciar .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 1s;
}

header.containerHeader div.primer-menu div.iniciar .user img:hover {
transform: rotateY(360deg);
cursor: pointer;
}

header.containerHeader div.primer-menu div.shoppingcart img {
    width: 30px;
    height: 30px;
    transition: 1s;
}

header.containerHeader div.primer-menu div.shoppingcart img:hover {
    transform: rotateY(360deg);
    cursor: pointer;
}

header.containerHeader div.primer-menu div.shoppingcart a {
    font-size: 0px   ;
}

header.containerHeader div.primer-menu a {
    font-size: 17px;
    font-weight: 600;
}
    
/* BUSCADOR */
.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 0rem 0.4rem 0rem 0.4rem;
  }
  
  .home-search-input {
    width: 8rem;
    max-width: 530px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #724A81;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
  }
  
  .home-search-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .home-search-input:focus {
    border: 2px solid #4e4b4e;
    background-color: #9977A6;
  }

  .home-search-input::placeholder {
    color: white;
  }
  
  .search__btn {
    border: none;
    cursor: pointer;
    background-color: #724A81;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: #9977A6;
  }
/* FIN BUSCADOR */




/* POR SI SE QUIERE USAR UN NAV DEBAJO DEL BUSCADOR
 nav.navegador ul.menu {
    display: flex;
    justify-content: center;
}

nav.navegador ul.menu li {
    width: 9%;
    margin: 4px;
    background-color: #724A81;
    text-align: center;
    border-radius: 150px 0 150px 0;
    box-shadow: #4e4b4e 2px 2px 2px;
    transition: all 1s ease;
    padding: 0px 5px;
}

nav.navegador ul.menu li:hover{
    width: 11%;
    transform: scale(1.1);
} */
        /* FIN GENERALES */

        /* MOBILE */
@media (max-width: 767px) {

    header.containerHeader div.header-logo a img {
        width: 40px;
        height: 40px;
    }

    header.containerHeader div.header-logo span {
        display: none;
    }

    header.containerHeader div.crear {
        display: none;
    }

    header.containerHeader div.iniciar .user {
        display: none;
    }

    header.containerHeader nav.navegador {
        display: none;
    }
    
        /* FOOTER */
    footer.principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer.principal div.footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer.principal div.footer-logo img {
        width: 60px;
        height: 60px;
    }

    footer.principal div.footer-logo span {
        font-size: 12px;
    }

    footer.principal div.footer-redes-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer.principal div.footer-redes-data ul.footer-redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        margin-top: 5px;
    }

    footer.principal div.footer-redes-data ul.footer-redes img {
        width: 30px;
        height: 30px;
    }

    footer.principal div.footer-redes-data div.qr img {
        width: 100%;
        height: 50px;
    }

    footer.principal div.links {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    footer.principal div.links div.sub-menu {
        display: flex;
        flex-direction: column;
    }

    footer.principal div.links div.sub-menu div.links-utiles ul.sub-menu2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer.principal div.links div.sub-menu div.links-utiles ul.sub-menu2 li {
        background-color: #4e4b4e;
        width: 90%;
        margin-top: 5px;
        text-align: center;
        border-radius: 10px 0 10px 0;
        font-size: 10px;
    }

    footer.principal div.footer-redes-data div.qr {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }




}
        /* FIN MOBILE */


        /* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {

    .header-search {
        width: 25rem;
    }
    .home-search-input {
        width:100%;
        max-width: 25rem;
    }

    header.containerHeader div.primer-menu div.crear {
        display: none;
    }

    header.containerHeader div.primer-menu div.iniciar .user {
        display: none;
    }

    header.containerHeader nav.navegador {
        display: none;
    }

    header.containerHeader div.primer-menu div.header-logo img {
        width: 60px;
        height: 60px;
    }

    header.containerHeader div.primer-menu div.header-logo span{
        display: none;
    }
    /* FOOTER */
    footer.principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer.principal div.footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer.principal div.footer-logo img {
        margin-top: 1rem;
        width: 70px;
        height: 70px;
    }

    footer.principal div.footer-logo span {
        font-size: 15px;
    }

    footer.principal div.footer-redes-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer.principal div.footer-redes-data ul.footer-redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        margin-top: 5px;
    }

    footer.principal div.footer-redes-data ul.footer-redes img {
        width: 30px;
        height: 30px;
    }

    footer.principal div.footer-redes-data div.qr img {
        width: 100%;
        height: 50px;
    }

    footer.principal div.links {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    footer.principal div.links div.sub-menu {
        display: flex;
        flex-direction: column;
    }

    footer.principal div.links div.sub-menu div.links-utiles ul.sub-menu2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer.principal div.links div.sub-menu div.links-utiles ul.sub-menu2 li {
        background-color: #4e4b4e;
        width: 90%;
        margin-top: 5px;
        text-align: center;
        border-radius: 10px 0 10px 0;
        font-size: 10px;
    }

    footer.principal div.footer-redes-data div.qr {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
        /* FIN TABLET */


        /* DESKTOP */
@media (min-width: 1024px) {

    .header-search {
        width: 35rem;
    }
    .home-search-input {
        width:100%;
        max-width:35rem;
    }

    header.containerHeader div.primer-menu div.menu-hamburguesa {
        display: none;
    }

    header.containerHeader div.primer-menu div.header-logo img {
        width: 65px;
        height: 65px;
    }

    header.containerHeader nav.navegador ul.menu{
        justify-content: center;
    }

    header.containerHeader div.primer-menu div.crear {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    
    header.containerHeader div.primer-menu div.iniciar {
        margin: 0rem 0.5rem 0rem 0.5rem;
    }

    header.containerHeader div.primer-menu div.iniciar .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    header.containerHeader div.primer-menu div.iniciar .user img {
        margin-bottom: 2px;
    }

    header.containerHeader div.primer-menu div.shoppingcart {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }

    header.containerHeader div.primer-menu div.shoppingcart img {
        width: 40px;
        height: 40px;
    }

    header.containerHeader div.primer-menu div.shoppingcart a {
        font-size: 17px;
    }

    header.containerHeader div.primer-menu div.header-logo span {
        font-size: 30px;
        font-family: 'Kaushan Script', cursive;
        color: black;
    }

    header.containerHeader div.primer-menu div.header-logo a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header.containerHeader div.primer-menu div.header-logo a img {
        margin: 10px 25px 10px 0px;
    }
        /*FOOTER*/
    footer.principal {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer.principal div.footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        font-size: 15px;
    }

    footer.principal div.footer-logo img {
        margin-top: 1rem;
        width: 150px;
        height: 150px;
    }

    footer.principal div.footer-redes-data ul.footer-redes li img {
        width: 40px;
        height: 40px;
    }
    
    footer.principal div.footer-containerHeader-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer.principal div.footer-redes-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 3;
    }

    footer.principal div.footer-redes-data ul.footer-redes {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 10px;
    }

    footer.principal div.footer-redes-data div.qr {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
        margin-top: 15px;
    }

    footer.principal div.footer-redes-data div.qr img {
        width: 90px;
    }

    footer.principal div.links {
        width: 15% 
    }

    footer.principal div.links div.sub-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer.principal div.links div.sub-menu div.links-utiles ul.sub-menu2 li {
        background-color: #4e4b4e;
        border-radius: 10px 0 10px 0;
        margin: 5px;
        text-align: center;
    }

    footer.principal div.links div.sub-menu div.links-utiles {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
        /* FIN DESKTOP */

        /* INICIO DESPLEGABLE */


.menu-hamburguesa ul li {
    float: left;
    list-style: none;
}
.menu-hamburguesa hr {
    background-color: #724A81;
    opacity: 0.6;
    height: 1px;
    margin: 0;
}
.menu-hamburguesa li a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 17px;
    display: block;
    color: #222;
}
.menu{
    position: relative;
}
.submenu{
    display: block;
    position: absolute;
    text-align: center;
    background: #fff;
    right: -3.3rem;
    padding: 0px 10px;
    display: none;
    border-radius: 0 0 10px 10px;
}
.menu:hover .submenu{
    display: block;
}
.submenu a{
    padding: 8px 14px;
}
.submenu a:hover{
    background: #f1f1f1;
}
.submenu li{
    width: 100px;
}