@import url('carousel.css');
/* Productos */

:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
  --violeta-intermedio: #9977A6;
  --violeta-oscuro: #724A81;
    --violeta-claro: #C8ABD0;
    --violeta-chillon: #8C52FF;
    --gris: #504949;
    --fuente-principal: 'Roboto', sans-serif;
    --clr-white: #ececec;
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body.homeBody {
 /*  background: linear-gradient(111deg, rgb(153, 129, 179) 0%, rgb(92, 0, 191) 52%, rgb(69, 1, 142) 100%); */
  background-image: url(/images/backgrounds/fondoMujeres.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0.8px 32px 0 rgba(31, 38, 135, alpha);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logoHome {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    width: 90%;
}

.menuProducts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
}

.boton-menu.active {
    background-color: #ffffff;
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    width: 100%;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}
.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}
.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.mainHome {
      background: transparent;
  border: 2px  solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
    background-size: cover;
    border-radius: 50px;
    padding: 3rem;
    margin: 10px;
}
.titulo-principal {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2rem;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto-titulo {
    font-size: 1rem;
}
.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.blob {
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(180deg, rgba(200, 171, 208,.42)37.77%, #8C52FF 100%);
  border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  transform: translate(-100px, -50px) rotate(-90deg);
  transition:1s cubic-bezier(.07, .8, .16, 1);
  animation: animateBlob 12s infinite alternate;
}
.blob:hover {
  width: 50%;
  height: 50%;
  filter: blur(30px);
  box-shadow:
      inset 0 0 0 5px rgba(255, 255, 255, .6),
      inset 100px 100px 0 0 #784ba8 ,
      inset 100px 100px 0 0 #8C52FF ,
      inset 100px 100px 0 0 #4f00ee ;
}
@keyframes animateBlob {
  100% {
    transform: translate(30px, 500px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
/** CARRITO **/

/* .contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
} */

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/


@media screen and (max-width: 768px) {


.product-row {
  gap: 120px;
  justify-content: space-around;
  /* padding: 2rem 5rem; */
}
}

        /* CARD HOME */

        
html, .adminIndexBody {
    height: 100%;
}
.precard {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  max-width: 279px;
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(168, 165, 165, 0.2);
  margin-bottom: 2rem;
}
.precard:hover {
    box-shadow: -12px 12px 2px -1px rgba(136, 68, 192, 0.2);
}
figure {
  margin: 0;
  padding: 0;
}
.homeCard {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 280px;
	background-color: #fff;
	padding-bottom: 10px;
	overflow-y: hidden;
    border-radius: 8px 8px 0px 0px;
}
.homeproduct-image {
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.25);
	max-width: 100%;
    height: 300px;
    object-fit:cover;
    border-radius: 5px;
}
.homeproduct-caption {
	display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 10px;
	background-color: #2b2b2d;
	font-size: 14px;
	color: #fff;
	padding: 20px;
	height: 163px;
    border-radius: 0px 0px 8px 8px;
}
.homeproduct-title {
  display: flex;
  justify-content: center;
	font-size: 20px;
	text-transform: uppercase;
}
.homeproduct-discount {
	color: #d8d7e3;
}
.homeproduct-info2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.homeproduct-info2 img {
    width: 23px;
    height: 23px;
}
.homeproduct-price {
	font-weight: 600;
  font-size: 20px;
}
.homeproduct-shoppingcart {
	display: grid;
	place-items: center;
	width: 30px;
	height: 30px;
	background-color: #03d7c9;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.25s;
}
.homeproduct-shoppingcart:hover,
.homeproduct-shoppingcart:focus {
	background-color: #01bdb0;
}
.homeproduct-icon {
	font-size: 18px;
	transition: transform 0.25s;
}
.homeproduct-shoppingcart:hover .homeproduct-icon,
.homeproduct-shoppingcart:focus .homeproduct-icon {
	transform: rotate(1turn);
}
svg {
  width: 20px;
  height: 20px;
}
/* Btn from card */
.btn-like-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}
.btn-like-card::after {
  content: 'Like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}  
.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}  
.icon path {
  fill: white;
  transition: .2s linear;
}  
.btn-like-card:hover > .icon {
  transform: scale(1.2);
}  
.btn-like-card:hover > .icon path {
  fill: rgb(177, 139, 189);
}  
.btn-like-card:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}

        /* TITULO CATEGORIAS */

.title_category {
    display: flex;
    justify-content: center;
    align-items: center;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, -0.219);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 0.5em 2em;
    margin: 1rem;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
   
.title_category::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.category-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.title_category:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}
   
.title_category:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

/* FIN CARD HOME */


@media screen and (min-width: 320px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: flex;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4b33a8;
        opacity: 86%;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: none;
    } 

    /* .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    } 

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }*/
} 
@media screen and (min-width: 320px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: flex;
    }

    .contenedor-productos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: min-content;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    } 

    /* .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    } 

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }*/
} 

@media (min-width: 768px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
}
@media (min-width: 1326px) {
    .contenedor-productos {
        grid-template-columns: repeat(4, 1fr);
    }
  }