@import url('carousel.css');
/* Productos */
body.homeBody {
    background-image: url(/images/backgrounds/backg.jpg);
}

body.homeBody div p {
color:white;
font-size: 40px;
font-family: 'Kaushan Script', cursive;
text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

figure {
    margin: 0;
    padding: 0;
  }