
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
  --violeta-intermedio: #9977A6;
  --violeta-oscuro: #724A81;
    --violeta-claro: #C8ABD0;
    --violeta-chillon: #8C52FF;
    --gris: #504949;
    --fuente-principal: 'Roboto', sans-serif;
    --clr-white: #ececec;
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

body.homeBody {
  background-image: linear-gradient(rgba(248, 246, 246, 0.2), rgba(0, 0, 0, 0.75)),
  url(/images/backgrounds/back1.jpg);
  /* background-image: url(/images/backgrounds/back1.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--clr-main);
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0.8px 32px 0 rgba(31, 38, 135, alpha);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logoHome {
    font-weight: 400;
    font-size: 1.3rem;
    width: 90%;
}

.menuProducts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    width: 100%;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

.mainHome {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    width: 90%;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** CARRITO **/

/* .contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
} */

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/


@media screen and (max-width: 768px) {

  .contenedor-productos {
    grid-template-columns: 1fr 1fr;
    width: 50%;
    
}

.product-row {
  gap: 120px;
  justify-content: space-around;
  /* padding: 2rem 5rem; */
}
}


/* MOBIL */


 @media screen and (min-width: 400px) {
 

    .contenedor-productos {
      grid-template-columns: 1fr 1fr;
      width: 50%;
      
  }
  
  .product-row {
    gap: 120px;
    justify-content: space-around;
    /* padding: 2rem 5rem; */
  }

    

} 

figure {
  margin: 0;
  padding: 0;
}
.offer-title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'Kaushan Script', cursive;;
}
.products-title {
  font-weight: 900;
  font-size: 3rem;
}
.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.container-products-wrapper {
  margin-top: 95px;
  margin-bottom: 95px;
  margin: 2rem;
}
.home-product-box_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-card {
  margin-bottom: 20px;
  width: 180px;
  height: 400px;
  padding: .8em;
  border-radius: 1rem;
  background: #C8ABD0;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: transform .5s;
}
 .home-card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}
.home-product-box_image {
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}
.home-product-box_data {
  padding-top: 10%;
}
svg {
  width: 20px;
  height: 20px;
}
.home-card-footer {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: black;
}
.home-productPrice{
  font-size: 1.4rem;
  font-weight: 600;
}
/*Div texto*/
.home-product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}
.home-product-discount {
  font-size: 1em;
  color: black;
  margin: 0.5rem;
}
/*Carrito*/
.home-shopping-btn{
  border: 1px solid black;
  width: 35px;
  height: 35px;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
  background-color: #9977A6;
  margin: 0.5rem 0.3rem;
}
/*Hover*/
.home-card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.home-shopping-btn:hover {
  border: 1px solid black;
  background-color: #8C52FF;
}
.home-card-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Btn from card */
.btn-like-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}
.btn-like-card::after {
  content: 'Like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}  
.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}  
.icon path {
  fill: white;
  transition: .2s linear;
}  
.btn-like-card:hover > .icon {
  transform: scale(1.2);
}  
.btn-like-card:hover > .icon path {
  fill: rgb(177, 139, 189);
}  
.btn-like-card:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}


@media screen and (min-width: 720px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: flex;
    }

    .mainHome {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }


    .contenedor-productos {
      grid-template-columns: 4fr 4fr ;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: none;
    } 

    /* .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    } 

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }*/
} 

@media screen and (min-width: 320px) {

  .wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }

  aside {
      position: fixed;
      z-index: 9;
      background-color: var(--clr-main);
      left: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: .2s;
  }

  .aside-visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }

  .boton-menu.active::before,
  .boton-menu.active::after {
      display: flex;
  }

  .mainHome {
      margin: 1rem;
      margin-top: 0;
      padding: 2rem;
  }

  .contenedor-productos {
      grid-template-columns: 1fr;
  }

  .header-mobile {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
  }

  .header-mobile .logo {
      color: var(--clr-gray);
  }

  .open-menu, .close-menu {
      background-color: transparent;
      color: var(--clr-gray);
      border: 0;
      font-size: 2rem;
      cursor: pointer;
  }

  .close-menu {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: none;
  } 

  /* .carrito-producto {
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: .5rem;
  }

  .carrito-producto-subtotal {
      display: none;
  } 

  .carrito-acciones {
      flex-wrap: wrap;
      row-gap: 1rem;
  }*/
} 

@media (min-width: 1024px) {
  .contenedor-productos {
      grid-template-columns: 2fr 2fr 2fr 2fr;
    }
  }