
@media (min-width: 320px) {

.bodyError {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/img/404error.jpg);
    background-size:cover;
    background-position: 30%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textError {
    background-color: rgba(139, 131, 143, 0.486);
    text-align: center;
    border: solid 1px black;
    margin:2rem 2rem;
    border-radius: 0rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 560px;
}

.textError h4 {
    font-size: 60px;
}

.textError p {
    padding: 1rem;
}

.textError a {
    color: black;
    margin: 0.5rem;
    text-shadow: 5px 5px 10px rgba(89, 89, 89, 0.5);
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}
.textError a li {
    transition: 1s;
}
.textError a li:hover {
    transform: scale(1.3);
}
}

@media (min-width: 1024px) {
    .textError {
        margin: 5rem 2rem;
    }
}