*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.register-complete {
    margin: 3rem 0rem;
}
.register-complete hr {
  background-color: #9977A6;
  opacity: 0.6;
  height: 1px;
  margin: 1.5rem;
}

.register-body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.input-reg {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
.register-form {
  border: 1px solid #c9cdce;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.register-form h1 {
  text-align: center;
  color: #384047;
  font-family: 'Kaushan Script', cursive;
  transition: 1s;
}
.register-form h1:hover {
  transform: rotateX(360deg);
}
.btn-reg {
  display: flex;
  justify-content: center;
}
.btn-reg button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #9977A6;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #724A81;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  font-weight: 700;
  max-width: 250px;
}

.register-form label {
  display: block;
  margin-top: 15px;
  margin-right: 5px;
}

.register-form label.light {
  font-weight: 300;
  display: inline;
}
.div-password {
  position: relative;
  display: flex;
  flex-direction: column;
}
.div-password img {
  width: 22px;
  height: 25px;
  position: absolute;
  right: 0.5rem;
  top: 73%;
  transform: translateY(-50%);
  cursor: pointer;
}

.terms-conditions {
    margin-bottom: 15px;
}
.terms-conditions input {
  margin-top: 18px;
}

.span-account {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
.span-account a {
  color: rgb(24, 60, 221);
  font-size: 13px;
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .register-form {
  max-width: 480px;
}
}
@media screen and (max-width: 1030px) {
.register-body{
  background-image: url(/images/backgrounds/fondoMujeres.png);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 10vh;
  margin: 0;
  font-size: 10px;
}
}

  /* Has olvidado tu contraseña vista */

.body-forget {
  background-image: url(/images/backgrounds/fondoMujeres.png);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 10vh;
  margin: 0;
  font-size: 10px;
}
.forget-contain {
  margin: 3.5rem 1rem;
}
.forget-content h2{
  margin: 1rem;
  text-align: center;
}
.forget-content p {
  margin: 1rem;
}
.forget-content {
  margin: 2rem 1rem;
}

.forget-content .btn-reg {
  align-items: center;
  margin: 1.5rem 0rem;
}

.forget-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}