.register .btn-submit-register {
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    height: 1.8rem;
    width: 100%;
    border: solid 1px var(--gris);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background:  linear-gradient(45deg, --violeta-chillon 0%,  --violeta-oscuro 50%);
    color: rgb(255, 255, 255);
    background-color: var(--violeta-oscuro);
    transition: all 2s ease;
}

.register .btn-submit-register:hover {
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(255, 243, 243, 0.7);
    background: linear-gradient(285deg, rgba(149, 0, 255, 0.452) 0%,  rgba(236, 95, 168, 0.623) 50%);
    transition: all 1s ease;
}

.register hr {
    margin-bottom: 0rem;
}

.register .form-complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 3rem;
}

.register .form-two a {
    color: white;
    text-decoration:none;
    transition: 1s;
}

.register .form-two a:hover {
    font-size: 16px;
    color: rgba(240, 208, 248, 0.623);
}

.register .form-container{
    background: #9977A6;
}

.register .form-two{
    background: #9977A6;
}

.register .input-container-names {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 8px;
    font-size: 10px;
}

.register .top-message {
    color: black;
    font-size: 15px;
    padding-top: 20px;
}

@media (min-width: 1024px) {
    .register {
        background-image: url(/images/backgrounds/back.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: -3.5rem;
    }
    .register .form-container {
        max-width: 600px;
    }
    .register .form-two {
        max-width: 600px;
    }
    .register .form-two {
        max-width: 600px;
    }
    .register main {
        background-image: none;
        display: flex;
        justify-content: flex-end;
    }
    .register .form-complete {
        margin: 3rem 6rem 3rem 3rem
    }
}