.BodyResults main {
    background-color: #9977a6;
    padding: 5rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.results_container {
    display: flex;
    justify-content: center;
}

.results-form {
    max-width: 520px;
    margin: 14rem 0rem;
    padding: 10px 20px;
    background: #9977a6;
    border-radius: 8px;
}

.results-form p {
    font-size: 25px;
    font-weight: 600;
}
.results-link {
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Kaushan Script", cursive;
}

.BodyResults .titulo-principal {
    margin: 3rem;
}
