.container-users-edit {
    display: flex;
    justify-content: center;
    background-size:60%;
    background-position: -10rem 3rem; 
    background-repeat:repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-user-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid rgb(80, 67, 67);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    margin: 3rem;
    width: 100%;
    max-width: 500px;
}

.form-ad-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0.5rem;
}
.form-ad-input input {
    width: 90%;
}

.form-ad-input select {
    width: 90%;
}

.btn-edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
/* Boton de editar perfil */
.btn-guardar {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 21px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 18px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   
}
.btn-guardar:active {
    box-shadow: 0px 2px 0px #724A81;
    position: relative;
    top: 2px;
}
.btn-guardar:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   .btn-guardar:hover {
    color: #fff;
}
   .btn-guardar:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   .btn-guardar:hover:before {
    top: -30px;
    left: -30px;
}
   .btn-guardar:active:before {
    background: #3a0ca3;
    transition: background 0s;
}
/* Fin boton editar perfil */