    /* Variables */
:root {
    --violeta-intermedio: #9977A6;
    --violeta-oscuro: #724A81;
    --violeta-claro: #C8ABD0;
    --violeta-chillon: #8C52FF;
    --gris: #504949;
    --fuente-principal: 'Roboto', sans-serif;
}