<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Restablecer contrase単a'}) %>
<body class="body-forget">
    <%- include('../partials/header') %>

    <main class="main-forget-pass">
        <section class="section-forget-pass">
            <div class="forget-content">
                <h2>多Has olvidado tu contrase単a?</h2>
                <p>A continuacion, introduzca su e-mail para recibir un enlace de restablecimiento.</p>
                <form class="form-forget-pass" action="" method="">
                    <span>E-mail:</span>
                    <input type="email" class="email-reset" type="email" required name="email" placeholder="Ejemplo@gmail.com.ar">
                    <button class="forget-button" type="submit"><a href="/">Restablecer contrase単a</a></button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>