<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Registro'}) %>
    
<body class="register">

    <%- include('../partials/header') %>

    <main class="main-log-reg">
        <div class="form-complete">
            <div class="form-container">
                <a href="/home"><h2>Cuidate!</h2></a>
                <hr>
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="form">
                        <div class="input-container-names">
                            <span class="top-message">Nombre</span>
                            <input class="input-style" type="firstName" name="firstName" placeholder="Ingrese su nombre">
                            <span class="error-message">Debe ingresar su nombre</span>

                            <span class="top-message">Apellido</span>
                            <input class="input-style" type="lastName" name="lastName" placeholder="Ingrese su apellido">
                            <span class="error-message">Debe ingresar su apellido</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">E-mail</span>
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                            <span class="error-message">Debe ingresar su email</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                            <span class="error-message">Debe ingresar su contraseña</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Vuelve a escribir la contraseña</span>
                            <input class="input-style" type="password" name="pass" placeholder="Re-ingrese su contraseña">
                            <span class="error-message">Debe re-ingresar su contraseña</span>
                        </div>

                        <div class="input-file">
                            <p>Agregar foto</p>
                            <input id="input-file-file" type="file" name="avatar">
                        </div>
                        <div class="terms-conditions">
                            <label for="recordar">  Acepto los <a href="">términos y condiciones</a> </label>
                            <input type="checkbox" name="terms" id="recordar"> 
                            <span class="error-message">Debe aceptar los términos y condiciones</span>
                        </div>
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="btn-submit" class="btn-submit-register">Registrarme</button>
                        </div> 
                    </div>
                </div>
            </form>
            <div class="form-two">
                <span><a href="login">Ya tengo una cuenta</a></span>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>