<div class="prenav">
  <nav class="admin-nav">
    <ul>
        <li>
            <a href="/admin">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text"> Inicio Administrador </span>
            </a>
        </li>
        <li class="admin-subnav">
          <a href="/admin/products">
            <i class="fa fa-shopping-cart fa-2x"></i>
                <span class="nav-text"> Productos </span>
              </a>
            </li>
        <li class="admin-subnav">
          <a href="/admin/users">
            <i class="fa fa-user-md fa-2x"></i>
            <span class="nav-text"> Usuarios </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-list-ul fa-2x"></i>
                <span class="nav-text"> Categorías </span>
              </a>
            </li>
            <li>
            <a href="#">
              <i class="fa fa-list-ol fa-2x"></i>
                <span class="nav-text"> Subcategorías </span>
            </a>
        </li>
      </ul>

    <ul class="logout">
        <li>
          <a href="/users/logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text"> Cerrar Sesión </span>
              </a>
            </li>
    </ul>
  </nav>
</div>