<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Admin-Inicio'})%>
<body>
    <%- include('partials/header')%>
    <h1>Bienvenido</h1>
    <%- include('partials/footer')%>
</body>
</html>