<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Admin-Inicio'})%>
    <body class="body-admin">
    <%- include('../partials/header')%>

    <div class="admintitle-container">
        <div class="admintitle-container2">
            <h1 class="text1">
                Cuidate!
            </h1>
            <h1 class="text2">
                Bienvenido al modo administador.
            </h1>
            <img src="/images/icons/11.jpg">
        </div>
    </div>
    <%- include('partials/adminSidebar')%>
</body>
</html>