<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Administrar productos'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Administrador de productos en construccion ...</h1>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>