<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.css">
	<link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="menu"><img src="menu.png" alt=""></div>
			<div class="logo"><img src="logo.png" alt=""></div>
			<div class="buscador">
				<span>Buscador...</span>
				<img src="lupa.png" alt="">
			</div>
			<div class="desplegable">
				<ul class="menu-desplegable">
					<li><a href="#"></a>menu</li>
					<li><a href="#"></a>menu</li>
					<li><a href="#"></a>menu</li>
					<li><a href="#"></a>menu</li>
					<li><a href="#"></a>menu</li>
				</ul>
			</div>
			<div class="carrito"><img src="carrtio.png" alt=""></div>
		</div>
	</header>
    <div class="container">
		<section class="banner">
			<img src="images/cuidate.jpg.png" alt="banner">
		</section>
		<div><p>productos destacados:</p></div>
	</div> 
	<!-- productos -->
	<section class="vip-products">
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/2manopla.jpeg" alt="pdto 01">	
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/2manopla.jpeg" alt="pdto 02">		
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/2manopla.jpeg" alt="pdto 03">
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/1gas-Pimienta.jpeg" alt="pdto 01">
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/1gas-Pimienta.jpeg" alt="pdto 02">
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<img class="photo" src="images/1gas-Pimienta.jpeg" alt="pdto 03">
			</div>
			<h2>Producto</h2>
			<p>precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
	</section>
	<!-- Fin productos -->
</body>
</html>