<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/Home.css">
    <title>Cuidate! Bienvenido</title>
</head>
<body>
	<header class="container">
        
        <div class="primer-menu">

            <div class="menu-hamburguesa">
                <a href="#">
                    <img src="/img/menu.png" alt="">
                </a>
            </div>

            <div class="logo">
                <a href="/home">
                    <img src="/img/logo.png" alt="">
                </a>
                <span>Cuidate!</span>
            </div>

            <div class="buscador">
                <span>
                    Buscar...
                </span>

                <div class="lupa">
                    <a href="#">
                        <img src="/img/lupa.png" alt="">
                    </a>
                </div>
            </div>

            <div class="crear">
                <img src="/img/create.png" alt="">
                <a href="/register">Crear usuario</a>
            </div>

            <div class="iniciar">
                <img src="/img/login.png" alt="">
                <a href="/login">Iniciar sesion</a>
            </div>

            <div class="carrito">
                <img src="/img/carrito.png" alt="">
                <a href="/carrito">Ver compra</a>
            </div>

        </div>

        <nav class="navegador">
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Ofertas</a></li>
                <li><a href="/home">Destacados</a></li>
                <li><a href="/home">contacto</a></li>
                <li><a href="/home">Quienes somos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
		<section class="banner">
			<img src="/img/cuidate.jpg.png" alt="banner">
		</section>
	
	</div> 
	<!-- productos -->
	<div><p>Productos destacados:</p></div>
	<section class="vip-products">
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/2manopla.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"></a><img class="photo" src="/img/2manopla.jpeg" alt="pdto 02"></a>	
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"><img class="photo" src="/img/2manopla.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"></a><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 01"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"></a><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 02"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
		<article class="product">
			<div class="photo-container">
				<a href="/vistaProducto"></a><img class="photo" src="/img/1gas-Pimienta.jpeg" alt="pdto 03"></a>
			</div>
			<h2>Producto</h2>
			<p>Precio $xxxxx</p>
			<a class="more" href="#">Añadir</a>
		</article>
	</section>
	<!-- Fin productos -->
	<footer class="principal">

        <div class="footer-logo">
            <img class="logo" src="/img/logo.png" alt="">
            <span>Copyright © 2023 Todos los derechos reservados ®</span>
        </div>
       
       <div class="links">
            <h3>Links Utiles</h3>
            <div class="sub-menu">
                <div class="links-utiles">
                    <ul class="sub-menu2">
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                    </ul>
                </div>
                
            </div>
       </div>

       <div class="footer-redes-data">
            <h3>Seguinos en nuestras redes</h3>
            <ul class="redes">
                <li class="instagram"><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt=""></a></li>
                <li class="facebook"><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt=""></a></li>
                <li class="youtube"><a href="https://www.youtube.com/"><img src="/img/youtube.png" alt=""></a></li>
            </ul>
            <div class="qr">
                <img src="/img/fiscal.png" alt="">
            </div>
       </div>

    </footer>
</body>
</html>