<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidate! Registro</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="register">
    <header class="container">
        
        <div class="primer-menu">

            <div class="menu-hamburguesa">
                <a href="#">
                    <img src="/img/menu.png" alt="">
                </a>
            </div>

            <div class="logo">
                <a href="#">
                    <img src="/img/logo.png" alt="">
                </a>
                <span>Cuidate!</span>
            </div>

            <div class="buscador">
                <span>
                    Buscar...
                </span>

                <div class="lupa">
                    <a href="#">
                        <img src="/img/lupa.png" alt="">
                    </a>
                </div>
            </div>

            <div class="crear">
                <img src="/img/create.png" alt="">
                <a href="#">crear usuario</a>
            </div>

            <div class="iniciar">
                <img src="/img/login.png" alt="">
                <a href="#">iniciar sesion</a>
            </div>

            <div class="carrito">
                <img src="/img/carrito.png" alt="">
                <a href="#">ver compra</a>
            </div>

        </div>

        <nav class="navegador">
            <ul class="menu">
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="form-complete">
            <div class="form-container">
                <a href="/home"><h2>Cuidate!</h2></a>
                <hr>
                <form action="" method="">
                    <div class="form">
                        <div class="input-container">
                            <span class="top-message">E-mail</span>
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                            <span class="error-message">Debe ingresar su email</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                            <span class="error-message">Debe ingresar su contraseña</span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <input class="input-style" type="password" name="pass2" placeholder="Re-ingrese su contraseña">
                            <span class="error-message">Debe re-ingresar su contraseña</span>
                        </div>
                        <div class="terms-conditions">
                            <label for="recordar">  Acepto los <a href="">términos y condiciones</a> </label>
                            <input type="checkbox" name="terms" id="recordar"> 
                            <span class="error-message">Debe aceptar los términos y condiciones</span>
                        </div>
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="btn-submit" class="btn-submit-register">Registrarme</button>
                        </div> 
                    </div>
                </div>
            </form>
            <div class="form-two">
                <span><a href="login">Ya tengo una cuenta</a></span>
            </div>
        </div>
    </main>

    <footer class="principal">

        <div class="footer-logo">
            <img class="logo" src="/img/logo.png" alt="">
            <span>Copyright © 2023 Todos los derechos reservados ®</span>
        </div>
       
       <div class="links">
            <h3>Links Utiles</h3>
            <div class="sub-menu">
                <div class="links-utiles">
                    <ul class="sub-menu2">
                        <li><a href="#">LINKS</a></li>
                        <li><a href="#">LINKS</a></li>
                        <li><a href="#">LINKS</a></li>
                        <li><a href="#">LINKS</a></li>
                    </ul>
                </div>
                
            </div>
       </div>

       <div class="footer-redes-data">
            <h3>Seguinos en nuestras redes</h3>
            <ul class="redes">
                <li class="instagram"><a href=""><img src="/img/instagram.png" alt=""></a></li>
                <li class="facebook"><a href=""><img src="/img/facebook.png" alt=""></a></li>
                <li class="youtube"><a href=""><img src="/img/youtube.png" alt=""></a></li>
            </ul>
            <div class="qr">
                <img src="/img/fiscal.png" alt="">
            </div>
       </div>

    </footer>
</body>
</html>