<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidate! Registro</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body class="register">
    <!-- Inicio Register -->
    <div class="form-complete">
        <div class="form-container">
            <h2>Cuidate!</h2>
            <hr>
            <form action="" method="">
                <div class="form">
                    <div class="input-container">
                        <span class="top-message">E-mail</span>
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <span class="top-message">Contraseña</span>
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="input-container">
                        <span class="top-message">Contraseña</span>
                        <input class="input-style" type="password" name="pass2" placeholder="Re-ingrese su contraseña">
                        <span class="error-message">Debe re-ingresar su contraseña</span>
                    </div>
                    <div class="terms-conditions">
                        <label for="recordar">  Acepto los <a href="">términos y condiciones</a> </label>
                        <input type="checkbox" name="terms" id="recordar"> 
                        <span class="error-message">Debe aceptar los términos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="btn-submit" class="btn-submit-register">Registrarme</button>
                    </div> 
                </div>
            </div>
        </form>
        <div class="form-two">
            <span><a href="login.html">Ya tengo una cuenta</a></span>
        </div>
    </div>
<!--     <div class="img-register">
        <img src="./back.jpg" alt="">
    </div>     -->
<!-- Fin Register -->
</body>
</html>