<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/vistaProducto.css">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <script src="https://kit.fontawesome.com/4925a93360.js" crossorigin="anonymous"></script>
      <title>Conectado</title>
</head>

<body>
      <!--ESPACIO -->
      <header class="container">
        
        <div class="primer-menu">

            <div class="menu-hamburguesa">
                <a href="#">
                    <img src="/img/menu.png" alt="">
                </a>
            </div>

            <div class="logo">
                <a href="/home">
                    <img src="/img/logo.png" alt="">
                </a>
                <span>Cuidate!</span>
            </div>

            <div class="buscador">
                <span>
                    Buscar...
                </span>

                <div class="lupa">
                    <a href="#">
                        <img src="/img/lupa.png" alt="">
                    </a>
                </div>
            </div>

            <div class="crear">
                <img src="/img/create.png" alt="">
                <a href="/register">Crear usuario</a>
            </div>

            <div class="iniciar">
                <img src="/img/login.png" alt="">
                <a href="/login">Iniciar sesion</a>
            </div>

            <div class="carrito">
                <img src="/img/carrito.png" alt="">
                <a href="/carrito">Ver compra</a>
            </div>

        </div>

        <nav class="navegador">
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Ofertas</a></li>
                <li><a href="/home">Destacados</a></li>
                <li><a href="/home">contacto</a></li>
                <li><a href="/home">Quienes somos</a></li>
            </ul>
        </nav>
    </header>

      <!--Titulo -->


      <main class="card">
            <div class="detalles">

                  <div>
                        <div class="container-title">
                              <i class="fa-solid fa-arrow-left-long">VOLVER AL LISTADO >> Manoplas</i>
                        </div>

                        <div class="titulo">
                              <h3>MANOPLA GATITO</h3>
                              <small>Manopla para defensa personal</small>
                        </div>
                        <div class=imagenes>

                              <div class="imgBox">
                                    <img src="/img/manoplaNegra.png"
                                          alt="">
                              </div>
                        </div>
                  </div>

                  <div class="div-descripcion">
                        <div class="descripcion">
                              <h4>Descripción</h4>
                        </div>
                        <div>
                              <div class="descripcion">
                                    <p>Lorem ipsum dolor sit amet,
                                          repudiandae iste quas dicta quod.</p>
                              </div>
                        </div>

                        <div class="container-add-cart">
                              <div class="container-quantity">
                                    <input type="number" name="" id="" placeholder="1" value="1" min="1" class="input-quantity" />
                              </div>
                              <button class="btn-clean">Limpiar</button>

                              <div class="size">
                                    <h4>COLORES</h4>
                                    <ul>
                                          <div class="amarillo">
                                          </div>
                                          <div class="violeta">
                                          </div>
                                          <div class="rosa">
                                          </div>
                                          <div class="negro">
                                          </div>
                                    </ul>
                              </div>
                              <div class="buy">
                                    <div class="precio">
                                          <sup>$</sup><span>15500.<small>55</small></span>
                                    </div>
                                    <div class="btn">
                                          <a href="#">Agregar al carrito</a>
                                    </div>
                                    
                              </div>
                        </div>
                  </div>

            </div>
      </main>
      <footer class="principal">

        <div class="footer-logo">
            <img class="logo" src="/img/logo.png" alt="">
            <span>Copyright © 2023 Todos los derechos reservados ®</span>
        </div>
       
       <div class="links">
            <h3>Links Utiles</h3>
            <div class="sub-menu">
                <div class="links-utiles">
                    <ul class="sub-menu2">
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                        <li><a href="/home">LINKS</a></li>
                    </ul>
                </div>
                
            </div>
       </div>

       <div class="footer-redes-data">
            <h3>Seguinos en nuestras redes</h3>
            <ul class="redes">
                <li class="instagram"><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt=""></a></li>
                <li class="facebook"><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt=""></a></li>
                <li class="youtube"><a href="https://www.youtube.com/"><img src="/img/youtube.png" alt=""></a></li>
            </ul>
            <div class="qr">
                <img src="/img/fiscal.png" alt="">
            </div>
       </div>

    </footer>




</body>

</html>