<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Restablecer contrase単a'}) %>
<body class="body-forget">
    <%- include('../partials/header') %>
 
    <div class="forget-contain">
        <form class="register-form" method="POST" enctype="multipart/form-data" id="form">
            <div class="forget-content">
                <h2>多Has olvidado tu contrase単a?</h2>
                <p>A continuacion, introduzca su e-mail para recibir un enlace de restablecimiento.</p>
                <label for="forget-pass">E-mail</label>
                <input class="input-reg" type="email" id="email" name="email" placeholder="Ingrese su email">
                <small class="text-danger" id="emailErrors">
                    <%= locals.errors && errors.email ? errors.email.msg : '' %>
                </small>
                <div class="btn-reg">
                    <button type="submit" class="btn-edit">Restablecer contrase単a</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/validations/forgetPassValidation.js"></script>
</body>
</html>